.home{
    top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
    z-index: -1;
}

img{
    width: max(350px, 25vw);
    cursor: pointer;
    margin: 5px;
}