<body>
    <div class="curriculum">
        <div class="head">
            <img class="perfil" src="./assets/img/curriculum/Perfil.jpg">
            <div class="name">
                <h1>ADRIAN</h1>
                <h1 style="color: #3ea0a8;">MARTIN</h1>
                <h2>INGENIERÍA <br> del SOFTWARE</h2>
                <div class="informacion_icon">
                    <div>
                        <img class="icon" src="./assets/img/curriculum/map_icon.png">
                    </div>
                    <div>
                        <h3>Granada, España</h3>
                    </div>
                    <div>
                        <img class="icon" src="./assets/img/curriculum/mail_icon.png">
                    </div>
                    <div>
                        <h3>adrimartin15@gmail.com</h3>
                    </div>
                </div>
                <div class="rrss">
                    <a href="https://twitter.com/_adrimartin"><img class="icon" src="./assets/img/curriculum/twitter_icon.png"></a>
                    <a href="https://www.instagram.com/_adrimartin/"><img class="icon" src="./assets/img/curriculum/instagram_icon.png"></a>
                    <a href="https://www.linkedin.com/in/adrian-martin-jaimez/"><img class="icon" src="./assets/img/curriculum/linkedin_icon.png"></a>
                </div>
            </div>
        </div>
       <!--
        <div class="sobremi">
            <div>
                1
            </div>
        </div>
        <div class="experiencia">
            <div>
                2
            </div>
            <div>
                3
            </div>
        </div>
        <div>
            4
        </div>
        -->
    </div>
</body>

