

  .panelAlbum{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: -1;
  }
  
  .album{
    display: flex;
    height: 100%;
  }

  img{
    height: 100%;
    cursor: pointer;
  }