<div class = "title">
    <h1>{{ titulo }}</h1>
</div>

<div class = "slider">
    <h1 id="textSelect"><a  (click) ="showSlider('photo')">Photo</a> / <a (click)="showSlider('info')">Info</a></h1>

    <ul style="list-style-type: none;"
        [@listAnimation]="elementos.length" class = "items">
        <li *ngFor="let elemento of elementos" class = "item">
            <a (click)="setSeleccionado(elemento)">{{ elemento }}</a>
        </li>
    </ul>
</div>

<div class = "info"
    @fadeAnimation *ngIf="isShowInfo()">
    <br>
    <h2> Adrian Martin Jaimez</h2>
    <h3> Age: 25 <br> Granada, Spain</h3>
    <br>
    <h3 onclick="window.open('https://www.instagram.com/_adrimartin/');"> Instagram</h3>
    <h3 onclick="window.open('https://twitter.com/_adrimartin');"> Twitter</h3>

</div>

<div class = "footer">
    <h2  
        (mouseover) = "backTo = 'Back To Index'"
        (mouseleave) = "backTo = elementoSel"
        (click) = "seleccionado = false"
        *ngIf="isSeleccionado()">
        {{ backTo }}
    </h2>
</div>