<div class = "title">
    <h1 routerLink = "/">{{ titulo }}</h1>
</div>

<div id= "slider" class = "slider" @fadeSlider *ngIf="getHiddenNav()">
    <h1 id="textSelect"><a id="selectPhoto" (click) ="showSlider('photo')">Photo</a> / 
        <a id="selectInfo" (click)="showSlider('info')">Info</a></h1>
    <ul style="list-style-type: none;"
        [@listAnimation]="albums.length" class = "items">
        <li *ngFor="let album of albums" class = "item">
            <a class="linkNav" [routerLink]="['/',album.LinkRoute]">{{ album.Name }}</a>
        </li>
    </ul>
    <div class = "info"
        @fadeAnimation *ngIf="isShowInfo()">
        <br>
        <h2> Adrian Martin Jaimez</h2>
        <h2> Granada, Spain</h2>
        <br>
        <div id="rrss">
            <img src="../assets/img/ico_instagram.png" onclick="window.open('https://www.instagram.com/_adrimartin/');">
            <img src="../assets/img/ico_twitter.png" onclick="window.open('https://twitter.com/_adrimartin');">
        </div>
    </div>
</div>

<div id= "footer" class = "footer">
    <h2 (click)=toHiddenNav()>
        {{ hiddenNav }}
    </h2>
</div>

