
  .title{
    cursor: default;
  }

  a{
    cursor: crosshair;
  }

  .info{
    cursor: default;
  }

  .items {
    margin: 0;
    padding: 0;
  }

  .linkNav{
    text-decoration: none;
    color: white;
  }
    
  .item {
    padding: 12px;
    border-bottom: 0;
  }
