
  .title{
    font-family: 'Krona One';
    cursor: default;
  }
  
  .slider{
    font-family: 'Krona One';
    cursor: crosshair;
  }

  .info{
    font-family: 'Krona One';
    cursor: default;
  }

  .items {
    margin: 0;
    padding: 0;
  }

  .linkNav{
    text-decoration: none;
    color: black;
  }
    
  .item {
    font-family: 'Krona One';
    padding: 12px;
    border-bottom: 0;
  }
  
  .footer{
    font-family: 'Krona One';
    position: fixed;
    bottom: 50px;
    padding: 12px;
    cursor: default;
  }